/* ROOT COLORS */
:root {
  --primary-color: #ffffff;
  --secondary-color: rgba(255, 255, 255, 0.915);
  --background-overlay: rgba(0, 0, 0, 0.6);
  --accent-color: #ff3366;
  --navbar-bg: rgba(0, 0, 0, 0.85);
}

/* Music section */
header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 60px; 
  background-color: transparent;
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 1000; 
}

.audio-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border: 1px solid #060606;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  text-decoration: none; 
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 45px;
  right: -850px;
  top: 550px;
}

.audio-toggle.scrolled {
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.toggle-label img {
  width: 30px;
  height: 50px;
  object-fit: contain;
  align-items: center;
  display: flex;
  filter: brightness(1) invert(0);
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  background: transparent;
  border-radius: 25px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.1s;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #040404; 
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toggle-switch input:checked + label {
  left: 25px;
  background: #040404; 
  background: var(--accent-color);
}

.toggle-switch input:checked ~ .toggle-switch {
  background: #0d0d0d; 
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
}

/* FULL PAGE SECTION */

main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.panel {
  height: 100vh;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.panel.active {
  opacity: 50;
  z-index: 5;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: var(--background-overlay);
}

/* Content */
.content {
  position: relative;
  z-index: 10;
  max-width: 700px;
  padding: 140px 80px;
  color: var(--primary-color);
}

button {
  margin-top: 25px;
  padding: 12px 25px;
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background: var(--primary-color);
  color: black;
}

/* DOT NAVIGATION */
.dots {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 150;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: var(--primary-color);
}

/* TEXT ANIMATION LETTER */
.scroll-text span {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
  transition: 0.4s ease;
}

.scroll-text span.visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s ease;
}

.scroll-text-secondary {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 1s ease;
}

.scroll-text-secondary.visible {
  opacity: 1;
}
